.content {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    line-height: 30px;
    height: auto;
    box-sizing: border-box;
    padding: 0 250px;
    padding-bottom: 150px;
    background-color: rgb(46, 46, 46);
    color: #ddd;
}

.content h3{
    padding: 0;
    margin-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;
    border-left: solid 4px rgb(133, 28, 255);
    padding-left: 6px; 
}

.content div ol{
    text-align: left;
    padding: 20px 0;
    padding-left: 100px;
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
}

.content div ol li{
    font-size: 20px;
    letter-spacing: 0.05rem;
    color: #eee;
    cursor: pointer;
}

.content div ol li a{
    display: block;
    padding: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #eee;
}

.content div ol li:hover{
    color: rgb(133, 28, 255);
}

.content div ol li a:hover{
    color: rgb(133, 28, 255);
}


.content div{
    padding-bottom: 30px; 
    text-align: justify;
    font-size: 18px;  
}

.content div h2{
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 0.2rem;
    color: #eee;
    font-weight: 600;
    border-left: solid 4px rgb(133, 28, 255);
    padding-left: 6px; 
}

.content div p{
    padding-bottom: 10px;
}

